// colores
$white: #fff;
$isabelline: #eeeded;
$spanish-gray: #989797;

$coral: #fa824c;
$buff: #f1dd7b;
$vanilla: #f5e7a1;

$flame: #e4572e;
$light-red-ochre: #e87554;
$pastel-pink: #f2b2a0;

$shiny-shamrock: #4ca866;
$turqoise-green: #9dcfab;
$pastel-gray: #bddfc7;

$blue-de-france: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy-blue: #81b9ef;

$black: #000000;
$outer-space: #454545;
$quick-silver: #a2a2a2;
// typographies
$mono:  "PT Mono", monospace;
$roboto:"Roboto", sans-serif;

// Font weights
$thin:300;
$medium:500;
$bold:700;

// Font sizes
$xxxl: 70px;
$xxl: 40px;
$xl: 30px;
$lg: 18px;
$md: 16px;
// Spacing (dar valor a los margenes, padding,anchos altos)
$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;
$sp6: 45px;
$sp7: 60px;
$sp8: 120px;
$sp9: 145px;
